@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Tahoma, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.masthead {
    background-color: turquoise;
    overflow: hidden;
}

.logo {
    height: 1.8rem;
    width: auto;
    margin: .5rem 5%;
    float: right;
}

.billboard {
    margin: 10 5% 2rem;
    overflow: hidden;
    background-image: url(../images/mastead-cookie.png);
    background-repeat: repeat;
    background-size: 35rem;
    background-position: center center;
    box-shadow: .2rem .2rem .2rem .2rem rgba(0, 0, 0, .4);
    border: solid .35rem rgba(255, 250, 205, .8);
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: strong;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: hotpink;
    background-color: rgba(255, 250, 205, .8);
    margin: 3rem 0;
    padding: .25rem 0;
}

h2 {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin: 1rem 5% 0;
    color: turquoise;
}

details p {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 1rem;
    line-height: 1.5rem
}
    
.dropcap:first-letter {
    font-size: 2.6rem;
    font-weight: 400;
    float: left;
    margin: -.5rem .2rem -1rem 0;
}

img {
	width: 100%;
    display: block;
}

figure {
    margin: 0 auto 1.5rem;
    width: 90%;
}

figcaption {
    font-size: .75rem;
    padding: .25rem 5% 0;
    text-align: center;
    color: hotpink;
}

strong {
    font-weight: bold;
    color: turquoise;
}

span {
    color: hotpink;
}

details {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

ul {
    margin: 1.5rem 0 1.5rem;
    font-size: 1rem;
    line-height:1.25rem;
}

footer {
    margin: 10 0 2rem;
    background-color: turquoise;
    overflow: hidden;
}
    
hr {
    border: dashed 2px hotpink;
}

.directions {
    font-size: 1.5rem;
}
    
    


    